:root {
  --white: #fff;
  --black: #000;
  --grey: #c4cbd0;
  --grey-card:#e2e2e2;
  --light-grey: #e7e7e7;
  --dark-grey:#616161;
  --transparent-grey: rgba(196, 203, 208, .5);
  --ultra-transparent-grey: rgba(196, 203, 208, .2);
  --blue: #14aaf5;
  --green: #2cc6ab;
  --greenBulba: #198754; 
  --red: #ff0000;
  --orange: #ff9b00;
  --purple: #ab5de6;
  --magenta: #ec4a9d;
}

// #f2f2f2