@import 'bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.debug {
  color: var(--red);
}

.debug2 {
  border: 1px solid white;
}

// overflow no-scroll-bar
.overflow { 
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// flip card
.flip_card{
  background-color: transparent;
}
.flip_inner{
  position:relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip_front , .flip_back{
  // position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card:hover .flip_inner {
  transform: rotateY(180deg);
}

.flip_back{
  transform: rotateY(180deg);
}