.fire, .grass,
.poison, .water,
.flying, .bug,
.normal, .electric,
.ground, .fairy,
.fighting, .psychic,
.rock, .steel,
.ice, .ghost,
.dragon, .dark {
  width: 100%;
  max-width: 110px;

  font-size: .8rem;
  line-height: 18px;
  text-transform: none;
  text-align: center;

  border-radius: 3px;
  margin: 0 2px;
  padding: 0 13px;
}

.fire {
  color: #fff;
  background-color: #fd7d24;
}

.grass {
  color: #212121;
  background-color: #9bcc50;
}

.poison {
  color: #fff;
  background-color: #b97fc9;
}

.water {
  color: #fff;
  background-color: #4592c4;
}

.flying {
  color: #212121;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.bug {
  color: #fff;
  background-color: #729f3f;
}

.normal {
  color: #212121;
  background-color: #a4acaf;
}

.electric {
  color: #212121;
  background-color: #eed535;
}

.ground {
  color: #212121;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.fairy {
  color: #212121;
  background-color: #fdb9e9;
}

.fighting {
  color: #fff;
  background-color: #d56723;
}

.psychic {
  color: #fff;
  background-color: #f366b9;
}

.rock {
  color: #fff;
  background-color: #a38c21;
}

.steel {
  color: #212121;
  background-color: #9eb7b8;
}

.ice {
  color: #212121;
  background-color: #51c4e7;
}

.ghost {
  color: #fff;
  background-color: #7b62a3;
}

.dragon {
  color: #fff;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.dark {
  color: #fff;
  background-color: #707070;
}
