.fire {
  width: 35%;
  max-width: 110px;

  font-size: 13px;
  letter-spacing: .1rem;
  line-height: 18px;
  text-transform: none;
  text-align: center;

  color: #fff;
  background-color: #fd7d24;
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);

  border-radius: 3px;
  margin: 0 auto;
}